pyrogram==2.0.106
py-tgcalls==2.3.9
TgCrypto==1.2.5

motor==3.7.1
pymongo==4.13.2

python-dotenv==1.1.1

yt-dlp==2026.07.20
youtube-search==2.1.2
pytube==15.0.0

ffmpeg-python==0.2.0
pydub==0.25.1

aiohttp==3.12.15
aiofiles==24.1.0

Pillow==11.3.0
numpy==2.3.2

wget==3.2

beautifulsoup4==4.13.4

lexica-api==1.8.0
