ffmpeg-python

pyrogram==2.0.106
py-tgcalls==2.3.3
# ntgcalls ko manually mat add karo, py-tgcalls khud compatible version install karega

python-dotenv==1.0.0
tgcrypto==1.2.5

youtube_search
yt-dlp
pytube
Pillow
aiofiles==23.2.1
numpy
wget
pydub
aiohttp==3.9.5
motor==3.5.0
lexica-api
beautifulsoup4
